.c1{
    font-size: 2rem;
}
.c2{
    font-size: 3rem;
}
.my_div{
    font-size: 2rem;
}
.c3{
    font-size: 3em;
}
.percent_cls{
    width: 400px;
    height: 250px;
    border: 1px solid red;
}
.c4{
    width: 50%;
    background-color: green;
}
.c5{
    width: 50vw;
    background-color: rgb(119, 9, 9);
}